#navbar {
  background: #333333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  //z-index: 2;
  height: auto;
  color: white;
  padding-top: 1vh;
  padding-bottom: 2vh;
  .navbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    h1 {
      font-size: 3vh;
    }
  }
}
